{% set roads_fields %}
   "fields": [
        {
          "name": "osm_id",
          "type": "id"
        },
        {
          "name": "way",
          "type": "geometry"
        },
        {
          "name": "class",
          "type": "mapping_key"
        },
        {
          "name": "type",
          "type": "mapping_value"
        },
        {
          "key": "name",
          "name": "name",
          "type": "string"
        },
        {
          "key": "tunnel",
          "name": "tunnel",
          "type": "boolint"
        },
        {
          "key": "bridge",
          "name": "bridge",
          "type": "boolint"
        },
        {
          "key": "oneway",
          "name": "oneway",
          "type": "direction"
        },
        {
          "key": "ref",
          "name": "ref",
          "type": "string"
        },
        {
          "key": "layer",
          "name": "z_order",
          "type": "wayzorder"
        },
        {
          "key": "access",
          "name": "access",
          "type": "string"
        },
        {
          "key": "service",
          "name": "service",
          "type": "string"
        }
      ]
{% endset %}

{
  "generalized_tables": {
    "roads_z5": {
      "source": "roads_z10",
      "sql_filter": "type in ('motorway', 'trunk')",
      "tolerance": 76
    },
    "roads_z6": {
      "source": "roads_z10",
      "sql_filter": "type in ('motorway', 'trunk', 'primary')",
      "tolerance": 38
    },
    "roads_z8": {
      "source": "roads_z10",
      "sql_filter": "type in ('motorway', 'trunk', 'primary', 'secondary')",
      "tolerance": 9
    }
  },
  "tables": {      
    "roads_z10": {
      "type": "linestring",
      {{ roads_fields }},
      "mapping": {
        "highway": ["motorway", "trunk", "primary", "secondary", "tertiary"]
      }
    },
-   "roads_z11": {
-     "type": "linestring",
-     {{ roads_fields }},
-     "mapping": {
-       "highway": ["motorway", "motorway_link", "trunk", "trunk_link",
-                   "primary", "secondary", "tertiary"]
-     }
-   },
-   "roads_z13": {
-     "type": "linestring",
-     {{ roads_fields }},
-     "mapping": {
-       "highway": ["motorway", "motorway_link", "trunk", "trunk_link",
-                   "primary", "primary_link", "secondary", "secondary_link",
-                   "tertiary", "tertiary_link", "unclassified", "residential",
-                   "service", "living_street", "track", "road"]
-     }
    }
  }
}
