{% set roads_select %}
   SELECT
         osm_id AS __id__,
         'osm' as source,
         way AS __geometry__,
         type,
         name,
         tunnel,
         bridge,
         oneway,
         ref,
         z_order,
         access,
         service
{% endset %}

{% macro roads(zoom) -%}
   {% if zoom >= 13 %}
        {{ roads_select }} FROM import.osm_roads_z13
   {% elif zoom >= 5 %}
        {{ roads_select }} FROM {{ "import.osm_roads_z" ~ zoom }}
   {% endif %}
{%- endmacro %}
